
	<div  class=" profile_image">
	<%= attachment_image_tag @user, :user_image, :fill, 200, 200, format: 'jpeg', fallback: "no_image100x100.jpg" %>
	</div>
	<div  class=" user_name">
	<%= @user.name %>
	<div  class=" user_content">
	<%= @user.content %>
	</div>
	<%= link_to "編集", edit_user_path(@user.id) %>
	<%= link_to "フォローリスト", following_user_path(@user.id) %>
	<%= link_to "フォロワーリスト", followers_user_path(@user.id) %>

<div class="collapse navbar-collapse" id="navbarEexample">
	<ul class="nav nav-tabs nav-justified">
		<% if @path.is('users#my_list') %>
		<li role="presentation" class="active">
			<%= link_to "MYメモ", my_list_user_path(@user.id) %>
		</li>
		<% else %>
		<li role="presentation">
			<%= link_to "MYメモ", my_list_user_path(@user.id) %>
		</li>
		<% end %>
		<% if @path.is('users#interest_list') %>
		<li role="presentation" class="active">
			<%= link_to "気になるリスト", interest_list_user_path(@user.id) %>
		</li>
		<% else %>
		<li role="presentation">
			<%= link_to "気になるリスト", interest_list_user_path(@user.id) %>
		</li>
		<% end %>
		<% if @path.is('users#following_list') %>
		<li role="presentation" class="active">
			<%= link_to "フォロワーメモ", following_list_user_path(@user.id) %>
		</li>
		<% else %>
		<li role="presentation">
			<%= link_to "フォロワーメモ", following_list_user_path(@user.id) %>
		</li>
		<% end %>
        </ul>
</div>