
<div  class="clearfix">
	<%= form_for(@user) do |f| %>
	<div  class=" profile_image">
		<span  class="paper_pin profile_image_pin"></span><span  class="paper_pin profile_image_pin2"></span>
		<%= attachment_image_tag @user, :user_image, :fill, 300, 300, format: 'jpeg', fallback: "no_image300x300.jpg" %>
	</div>
	<%= f.attachment_field :user_image %>
	<div  class ="user_paper">
		<span  class="sero"></span>
		<h1  class="user_name"><%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザー名", class:"edit" %></h1>
		<p  class=" user_content"><%= f.text_area :content, autocomplete: "content", placeholder: "自己紹介文", class:"edit_content" %></p>
	</div>
	<div  class="user_d">
		<span  class="paper_pin pin_b"></span><span  class="paper_pin pin_y"></span>
		<P><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"edit" %></P>
		<P><%= f.text_field :password, autocomplete: "off", placeholder: "新しいパスワードに変更", class:"edit" %></P>
		<P><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "新しいパスワード確認", class:"edit" %></P>
	</div>
	<%= f.submit "", class:"pen", "data-confirm" => "この内容で変更しますか？" %>
	<% end %>
</div>