
<%= render 'users/profile', users: @users %>

<div class="clearfix">
	<% @user.interested_papers.each do |paper| %>
	<% if paper.genre_id == nil %>
	<div  class="paper b_paper">
		<span  class="paper_pin pin_b"></span>
	<% elsif paper.genre_id == 3 %>
	<div  class="paper p_paper">
		<span  class="paper_pin"></span>
	<% elsif paper.genre_id <= 4 %>
	<div  class="paper y_paper">
		<span  class="paper_pin"></span>
	<% elsif paper.genre_id >= 9 %>
	<div  class="paper">
		<span  class="paper_pin pin_y"></span>
	<% else %>
	<div  class="paper b_paper">
		<span  class="paper_pin pin_b"></span>
	<% end %>
		<h4><%= link_to paper_path(paper.id) do %><%= paper.title %><% end %></h4>
		<p  class="content"><%= link_to paper_path(paper.id) do %><%= paper.content %><% end %></p>
		<span  class="paper_date">
			<% unless paper.start_date.blank? %>
				<%= paper.start_date.strftime("%Y年%-m月%-d日") %>
			<% end %>
			<% if paper.start_date.present? %>~
			<% elsif paper.end_date.present? %>~
			<% end %>
			<% unless paper.end_date.blank? %>
				<%= paper.end_date.strftime("%Y年%-m月%-d日") %>
			<% end %>
		</span>
		<% @paper_images.each do |pi| %>
		<% if paper.id == pi.paper_id %>
			<%= attachment_image_tag pi, :image, :fill, 300, 300, format: 'jpeg' %>
		<% end %>
		<% end %>
		<span  class="likes">
			<% if user_signed_in? %>
				<% if current_user.likes.find_by(paper_id: paper.id) %>
					<%= link_to paper_likes_path(paper.id), method: :delete, id: "likes_#{paper.id}", remote: true do %>
					<span class="glyphicon glyphicon-heart red" aria-hidden="true"><%= paper.likes.count %></span><% end %>
				<% else %>
					<%= link_to paper_likes_path(paper.id), method: :post, id: "likes_#{paper.id}", remote: true do %>
					<span class="glyphicon glyphicon-heart black" aria-hidden="true"><%= paper.likes.count %></span><% end %>
				<% end %>
				<% if current_user.interests.find_by(paper_id: paper.id) %>
					<%= link_to paper_interests_path(paper.id), method: :delete, id: "interests_#{paper.id}", remote: true do %>
					<span class="glyphicon glyphicon-bookmark green" aria-hidden="true"><%= paper.interests.count %></span><% end %>
				<% else %>
					<%= link_to paper_interests_path(paper.id), method: :post, id: "interests_#{paper.id}", remote: true do %>
					<span class="glyphicon glyphicon-bookmark black" aria-hidden="true"><%= paper.interests.count %></span><% end %>
				<% end %>
			<% else %>
				<%= link_to new_user_session_path do %><span class="glyphicon glyphicon-heart black" aria-hidden="true"><%= paper.likes.count %></span><% end %>
				<%= link_to new_user_session_path do %><span class="glyphicon glyphicon-bookmark black" aria-hidden="true"><%= paper.interests.count %></span><% end %>
			<% end %>
		</span>
		<%= link_to my_list_user_path(paper.user_id) do %><p  class="paper_user_name"><%= paper.user.name %></p><% end %>
	</div>
	<% end %>
</div>