<div class="clearfix">
  <% @papers.each do |paper| %>
  <div class="">
    <dl>
      <dd><h4><%= link_to paper_path(paper.id) do %><%= paper.title %><% end %></h4></dd>
      <dd><%= paper.content %></dd>
      <dd><% unless paper.start_date.blank? %><%= paper.start_date.strftime("%Y年%-m月%-d日") %><% end %>
        <% if paper.start_date.present? %>~
        <% elsif paper.end_date.present? %>~
        <% end %>
        <% unless paper.end_date.blank? %><%= paper.end_date.strftime("%Y年%-m月%-d日") %><% end %>
      </dd>
      <dd><%= paper.user.name %></dd>
      <% @paper_images.each do |pi| %>
      <% if paper.id == pi.paper_id %>
      <dd><%= attachment_image_tag pi, :image, :fill, 200, 200, format: 'jpeg' %></dd>
      <% end %>
      <% end %>
    </dl>
  </div>
  <% end %>
</div>
